* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    width: 100%;
    height: 100vh;
}

/* Navbar Part */
.nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav-part1 {
    font-size: 1vw;
    font-weight: 700;
}

.nav-part1 span {
    color: rgb(100, 179, 175);
    font-family: 'Lobster', cursive;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav-part2 a {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.nav-part2 #ic {
    display: none;
}

.nav-part2 a:hover {
    background-color: rgb(100, 179, 175);
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    transform: scale(1.2);
    color: white;

}

.nav-part2 button {
    padding: .80vw 2vw;
    font-size: 1.2vw;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-color: rgb(100, 179, 175);
}

.nav-part2 button:hover {
    color: white;
    background-color: black;
    cursor: pointer;

}

/* HERO Part */
.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

.left {
    width: 55%;
    height: 100%;
    padding: 5vw 5vw;
}

.left h1 {
    font-size: 4vw;
    font-weight: 600;
    line-height: 4.4vw;
}

.hero h1 span {
    color: rgb(100, 179, 175);
    font-family: 'Lobster', cursive;
}

.left p {
    font-size: 1.2vw;
    color: rgba(156, 110, 110, 0.685);
    width: 80%;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.left button {
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 179, 175);
}

.left button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.right {
    width: 45%;
    height: 100%;
}

.right img {
    width: 100%;
    height: 100%;
}

/* Responsive Part */
@media (max-width:600px) {
    .nav {
        width: 100%;
        height: 60px;
        padding: 4vw 6vw;
    }

    .nav-part1 {
        font-size: 4vw;
        font-weight: 700;
    }

    .nav-part2 a {
        display: none;
    }

    .nav-part2 button {
        display: none;
    }

    .nav-part2 #ic {
        font-size: 30px;
        display: block;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 100%;
        padding: 4vw 6vw;
    }

    .left h1 {
        font-size: 10vw;
        line-height: 11vw;
        font-weight: 700;
    }

    .left p {
        font-size: 4vw;
        font-weight: 300;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 7vw;
    }

    .left button {
        padding: 5vw 6vw;
        font-size: 5vw;
        font-weight: 700;
    }

    .right {
        width: 100%;
    }
}